.menu-card {
  display: flex;
  border: 1px solid rgb(170, 167, 167);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  transition: 0.3s all;
}
.menu-card:hover {
  background: rgba(211, 206, 206, 0.06);
  transform: scale(1.05);
}
.menu-card p {
  opacity: 0.9;
}
.menu-card__info {
  padding: 1rem;
}

.tip {
  border: 1px solid black;
  padding: 0.25rem;
  border-radius: 5px;
}

.tip i {
  margin-right: 0.5rem;
}

.menu-card-img {
  max-width: 200px;
  height: 100%;
  object-fit: cover;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.menu-card__name {
  margin-top: 1rem;
}
