.edit {
  background: lightcyan;
  padding: 3rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.form {
  box-shadow: rgba(77, 74, 74, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3px;
  max-width: 500px;
  margin: 1rem auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  box-sizing: border-box;
}
.form input {
  margin: 0.5rem 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
.form input::placeholder {
  font-size: 1rem;
}

.form button {
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  background: var(--color-secondary);
  color: white;
  box-shadow: 0px 0px 5px 1px grey;
}
.img-upload {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;

  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.img-upload input {
  padding: 0;
  width: 100%;
}

.img-upload label {
  white-space: nowrap;
  margin-right: 1rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.img-upload img {
  margin-left: 1rem;
}

.form button:hover {
  transform: translateY(2px);
  opacity: 0.9;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  .img-upload label {
    flex-direction: row;
  }
  .menu-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
