.contact-background {
  background: url("../../images/pattern.jpg");
  background-attachment: fixed;
  padding: 2rem 0;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
.contact-body {
  color: white;
  opacity: 0.9;
  padding: 0 1rem;
  font-weight: bold;
  margin-top: 0;
  font-size: 1.1rem;
}

.contact--options__container {
  width: 100%;
  display: grid;
  gap: 0 2rem;
}

.contact--options {
  text-align: center;
  border-radius: 5px;
  margin: 3rem 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(102, 186, 189, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.email {
  margin-top: 3rem;
  font-size: 1.1rem;
  margin-bottom: 0;
  opacity: 0.85;
}
.phone {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  opacity: 0.85;
}

.hero-brands__link {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: white;
  opacity: 0.85;
}
.hero-brands__link:hover i {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .contact h2 {
    margin-bottom: 2rem;
  }
  .contact-background {
    padding: 6rem 0;
  }
  .contact--options__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact--options {
    padding-top: 0;
    margin: 0;
    border: 0;
    order: 2;
    margin-left: 4rem;
  }
  .contact--options li div {
    width: 100%;
  }
  .contact--options button {
    width: 100%;
    align-self: stretch;
  }
  .contact--options__title {
    font-size: 2.2rem;
  }
  .link {
    font-size: 1.1rem;
  }
}
