.contact-section {
  padding: 1rem;
  background: url("../../images/pattern.jpg");
  background-attachment: fixed;
  background-position: 10%;
  background-color: var(--color-primary);
  background-repeat: repeat;
  padding-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
}
.contact-map {
  width: 100%;
  border: none;
}
.contact-map__container {
  margin-top: 2rem;
  width: 100%;
}
.contact-container__text {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  padding: 1rem;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.contact-list li:last-of-type {
  border-bottom: none;
}
.contact-info__section {
  margin: 0.5rem 0;
}

.contact-info__container {
  margin-top: 2rem;
}

.contact-info {
  text-decoration: none;
  color: black;
}
.contact-info i {
  margin-right: 0.5rem;
}
.contact-info:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 1040px;
    margin: 0 auto;
  }
  .contact-section {
    background-position: 30% 10%;
  }
}
