.contact-background {
  background: url("../../images/pattern.jpg");
  background-attachment: fixed;
  padding: 2rem 0;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.contact--options__container {
  width: 100%;
  display: grid;
  gap: 0 2rem;
  margin-top: 1rem;
}
.contact--options {
  text-align: center;
  border-top: 5px solid aliceblue;
  border-radius: 5px;
  margin: 6rem 0;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact--options__title {
  margin-top: 1rem;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: white;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 90%);
  font-size: 2.4rem;
}

.contact--options__tags {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.contact--options__tags li {
  margin: 1.5rem 0;
}
.link {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contact h2 {
    margin-bottom: 2rem;
  }
  .contact-background {
    padding: 6rem 0;
  }
  .contact--options__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact--options {
    padding-top: 0;
    margin: 0;
    padding-bottom: 5rem;
    border: 0;
    border-left: 5px solid aliceblue;
    margin-left: 4rem;
  }
  .contact--options__title {
    font-size: 2.2rem;
  }
  .link {
    font-size: 1.1rem;
  }
}
