.popular-title {
  font-size: 2rem;
  white-space: nowrap;
}
.popular-name {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 0;
  border-bottom: 1px solid white;
}
.popular-price {
  color: var(--color-primary);
  margin: 0.5rem;
  font-size: 2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  letter-spacing: 3px;
}

.popular-section__btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Gluten";
  letter-spacing: 1px;
  white-space: nowrap;
}
.popular-section__btn:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.popular-section:hover .popular-title__container,
.popular-section:hover .popular-section__img {
  transform: none;
}

@media screen and (min-width: 768px) {
  .popular-section__btn {
    align-self: center;
    font-size: 1.2rem;
  }
  .popular-title {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 800px) {
  .popular-title {
    font-size: 3rem;
  }
}
